<div class="row">
  <div class="container-md" style="max-width: 550px;">
    <div class="border p-3 shadow rounded">
      <div class="display-6 text-center mb-2">
        {{ loginMode ? 'Login' : 'Signup' }} Form
      </div>
      <!-- <div *ngIf="error" class="alert alert-danger mt-1 text-break" role="alert">
        An error occured: {{ error }}
      </div>       -->
      <ng-template appPlaceholder></ng-template>
      <!-- <app-alert [message]="error" *ngIf="error" (close)="onCloseError()"></app-alert> -->
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div class="mb-3">
          <div class="form-group">
            <label class="form-label" for="email">E-mail</label>
            <input 
              ngModel
              name="email"
              required
              email
              type="email" 
              id="email" 
              class="form-control" 
              aria-describedby="emailHelp"
              [ngClass]="{ 
                'is-invalid': authForm.form.controls['email']?.invalid && 
                              authForm.form.controls['email']?.touched,
                'is-valid': !authForm.form.controls['email']?.invalid
              }"
            >
            <div id="emailHelp" class="form-text">We will never share to anybody your email</div>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-group">
            <label class="form-label" for="password">Password</label>
            <input 
              ngModel
              name="password"
              minlength="6"
              pattern="^[a-zA-Z0-9_-]+$"
              required
              type="password" 
              id="password" 
              class="form-control"
              [ngClass]="{ 
                'is-invalid': authForm.form.controls['password']?.invalid && 
                              authForm.form.controls['password']?.touched,
                'is-valid': !authForm.form.controls['password']?.invalid
              }"
            >
          </div>
        </div>
        <div class="d-flex flex-column align-items-center mt-3">
          <button 
            [disabled]="authForm.invalid"
            class="btn btn-primary d-flex align-items-center justify-content-center" 
            style="width: 140px;"
            type="submit"
          >
            {{ loginMode ? 'Login' : 'Sign Up' }}
            <div class="ms-2" *ngIf="loading">
              <app-loading-spinner></app-loading-spinner>
            </div>
          </button>
          <a 
            (click)="onSwitchMode()"
            class="link-secondary mt-2" 
            type="button"
          >
            Switch to {{ loginMode ? 'Signup' : 'Login' }}
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
