<!-- <div class="backdrop">
  <div class="alert-modal">
    <p>{{ message }}</p>
    <div class="alert-modal-actions">
      <button class="btn btn-primary">
        Close
      </button>
    </div>
  </div>
</div> -->

<div class="backdrop" (click)="onClose()">
  <div 
    class="modal fade show"
    style="display: block"
    id="exampleModal" 
    tabindex="-1" 
    aria-labelledby="exampleModalLabel" 
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            An error occured...
          </h5>
          <button 
            (click)="onClose()"
            type="button" 
            class="btn-close" 
            data-bs-dismiss="modal" 
            aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          {{ message }}
        </div>
        <div class="modal-footer">
          <button 
            (click)="onClose()"
            type="button"
            class="btn btn-secondary" 
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
